.h2-text-b {
    font-size: 20px;
    font-weight: 700;
}

.h2-text {
    font-size: 20px;
    font-weight: 400;
}

.h3-text-b {
    font-size: 18px;
    font-weight: 700;
}

.h3-text {
    font-size: 18px;
    font-weight: 400;
}

.h4-text-b {
    font-size: 16px;
    font-weight: 700;
}

.h4-text {
    font-size: 16px;
    font-weight: 400;
}

.h5-text-b {
    font-size: 14px;
    font-weight: 700;
}

.h5-text {
    font-size: 14px;
    font-weight: 400;
}

.base-text-b {
    font-size: 10px;
    font-weight: 700;
}

.base-text {
    font-size: 10px;
    font-weight: 400;
}