// 컬러 변수화

// COLOR WHITE
$color-white-000: #ffffff;
$color-white-100: #fff9f5;
$color-white-200: #f7f7f7;
$color-white-300: #f6f6f6;
$color-white-400: #f0f0f0;
$color-white-500: #d2d2d2;
$color-white-600: #939393;
$color-white-700: #6d6d6d;
$color-white-800: #5f5f5f;
$color-white-900: #000000;

// COLOR ORANGE
$color-orange-000: #ffc097;
$color-orange-100: #e79057;
$color-orange-200: #e26f24;
$color-orange-300: #ad4500;

// COLOR GREEN
$color-green-000: #00ea88;
$color-green-100: #00c070;
$color-green-200: #008a50;
